PORT=3001
CORS_ORIGIN=http://localhost:8080

# ChromaDB Cloud
CHROMA_API_KEY=ck-COLE_SUA_CHAVE_AQUI
CHROMA_TENANT=e89ea992-a849-4fe0-9a7b-2eb6ce1ed10f
CHROMA_DATABASE=liked-songs
CHROMA_COLLECTION=liked_songs_v1

# Logging
LOG_LEVEL=info
NODE_ENV=development